.newsletter{
  background: var(--newsletter-bg);
  padding-top: 0.1%;
  padding-bottom: 50px;
}

.newsletter__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.newsletter__content,
.newsletter__form{
  width: 50%;
}
 
.newsletter__form input{
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.newsletter__form{
  padding: 0.4rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-radius: .5rem;
}

@media only screen and (max-width: 992px){
  .newsletter__content h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px){
  .newsletter__wrapper{
    flex-wrap: wrap;
  }

  .newsletter__content,
  .newsletter__form{
    width: 100%;
  }

  .newsletter__content{
    margin-bottom: 30px;
  }

  .newsletter__form input{
    padding: 8px 20px;
    font-size: 0.9rem;
  }
}